---
import { Image } from "astro:assets";

interface Props {
  isHome?: boolean;
}

const { isHome = false } = Astro.props;
---

<div class="banner-container">
  <div class="banner-image-wrapper">
    <img
      src="/images/banner.jpg"
      alt="Banner"
      class="banner-image"
      width="1920"
      height="400"
      loading="eager"
      decoding="sync"
    />
  </div>
  <div class="skeleton-overlay"></div>
</div>

<style>
  .banner-container {
    @apply relative w-full h-48 overflow-hidden;
    contain: layout;
  }

  .banner-image-wrapper {
    @apply absolute inset-0;
  }

  .banner-image {
    @apply w-full h-full object-cover;
  }

  .skeleton-overlay {
    @apply absolute inset-0 bg-gradient-to-r from-primary-50 to-white dark:from-primary-900/10 dark:to-gray-900;
    opacity: 0.7;
  }
</style>
