---
interface Props {
  title: string;
  count: number;
}

const { title, count } = Astro.props;
---

<div class="relative pl-8 sm:pl-32 py-6 group">
  <!-- タイムラインの縦線 -->
  <div class="flex flex-col sm:flex-row items-start mb-1 group-last:before:hidden before:absolute before:left-2 sm:before:left-0 before:h-full before:px-px before:bg-slate-300 sm:before:ml-[6.5rem] before:self-start before:-translate-x-1/2 before:translate-y-3 after:absolute after:left-2 sm:after:left-0 after:w-2 after:h-2 after:bg-indigo-600 after:border-4 after:box-content after:border-slate-50 after:rounded-full sm:after:ml-[6.5rem] after:-translate-x-1/2 after:translate-y-1.5">
    <h3 class="text-xl font-bold text-slate-900 dark:text-slate-100">{title} <span class="text-indigo-600 dark:text-indigo-400">({count})</span></h3>
  </div>
  <div class="pl-2">
    <slot />
  </div>
</div>
